extends layout

block content
		.row.commanalign
			.col-md-10.col-md-offset-1
				div.hotelinformationview
					if (bookingresponse.HotelRoomReservationResponse.reservationStatusCode=='PS')
						h1.errormessage Your reservation is in pending state. You will receive an email confirming your reservation
						b Itinerary Number:#{bookingresponse.HotelRoomReservationResponse.itineraryId}
						br
						| Confirmation Number:#{bookingresponse.HotelRoomReservationResponse.confirmationNumbers}
						br
						b Total Charges &#8377; #{bookingresponse.HotelRoomReservationResponse.RateInfos.RateInfo.ChargeableRateInfo["@total"]} 
						span (including tax recovery charges and service fees) 
						br
						p We have charged your credit card for the full payament of this reservation.
						p All prices are displayed in &#8377; INR
						br
						a(href='/').btn.btn-info.navbar-btn(type='button') Home
						br
						a(href='https://travelnow.com/selfService/searchform?cid=55505&lang=en').btn.btn-danger.btn-search-hotel(type='button') View or Cancel your booking online
					if (bookingresponse.HotelRoomReservationResponse.reservationStatusCode=='CF')
						h1.errormessage Congratulations you have successfully booked. You will receive an email confirming your reservation
						b Itinerary Number:#{bookingresponse.HotelRoomReservationResponse.itineraryId}
						br
						| Confirmation Number:#{bookingresponse.HotelRoomReservationResponse.confirmationNumbers}
						br
						b Total Charges &#8377; #{bookingresponse.HotelRoomReservationResponse.RateInfos.RateInfo.ChargeableRateInfo["@total"]} 
						span (including tax recovery charges and service fees) 
						br
						p We have charged your credit card for the full payament of this reservation.
						p All prices are displayed in &#8377; INR
						br
						a(href='/').btn.btn-info.navbar-btn(type='button') Home
						br
						a(href='https://travelnow.com/selfService/searchform?cid=55505&lang=en').btn.btn-danger.btn-search-hotel(type='button') View or Cancel your booking online
