extends layout

block content
	.row
		if (user)
			.col-md-4.welcome
				b Welcome &nbsp; #{user.firstname} #{user.lastname}
			.col-md-8.text-right
				a(href='signout', class='text-center new-account') Sign Out
		else
			.col-md-2.col-md-offset-9
			a(href='users/login') Login
	
	.row.heading
		.col-md-8.col-md-offset-1
			div
				img(src='../images/header.jpg')

	.row.searchForm
		.col-md-8.col-md-offset-2  
			form(action='/hotels/search' method='post')
				.form-group   
					label Where
					input(type='text' name='location' required class='form-control' placeholder='City,Region,Hotel')
				.row
					.col-md-6
						.form-group
							label Check-in
							input(type='text' name='checkindate' id='input_checkindate' class='form-control')
					.col-md-6
						.form-group
							label Check-out
							input(type='text' name='checkoutdate' id='input_checkoutdate' class='form-control')
				.row
					.col-md-4
						.form-group
							label Rooms
							select(name='numberofrooms' class='dropdown' class='form-control')
								option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
					.col-md-4
						.form-group
							label Adults &nbsp;
								span 12+ yrs
							select(name='numberofadults' class='form-control')
								option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
					.col-md-4
						.form-group
							label Child &nbsp;
								span 0-11 yrs
							select(name='numberofchild' class='form-control')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
				

				input(type='submit' value='Search hotels' class='btn btn-danger btn-search-hotel')

	br
	.row
		.col-md-8.col-md-offset-2
			if hotels
				//pre= JSON.stringify(hotels)
				each item,i in hotels.HotelSearchResults.Hotels
					pre
						.row
							.col-md-4 
								if item.PropertyInfo.MediaList
									img(src=item.PropertyInfo.MediaList[0].src)
								else
									img(src='/images/no-image.png' alt='No Image')
							.col-md-5
								
								-var hotelname=JSON.stringify(item.Name)
								B
									=hotelname.replace(/\"/g,"")
								//=JSON.stringify(item.PropertyInfo.Facets[0].FacetValue.value)
								-var l=star[i]
								.starcolor
									&nbsp;
									-for(var j=0;j<l;j++)
										&#9733;
								//=JSON.stringify(item.LowestRate.LowestRate.value)
							.col-md-3.rate
								-var lowestrate=JSON.stringify(item.LowestRate.LowestRate.value)
								&#8377;
								=lowestrate.replace(/\"/g,"")
								&nbsp;
								span per room/night
							
							
							
					//pre= JSON.stringify(hotels.HotelSearchResults.Hotels[0])
					//pre= JSON.stringify(hotels.HotelSearchResults.Hotels[0].PropertyInfo.MediaList[0].src)
					//img(src=hotels.HotelSearchResults.Hotels[0].PropertyInfo.MediaList[0].src)
			else
				pre Nothing Found



				
