extends layout

block content
	.navbar-fixed-bottom
		.navbar-right.cancelbuttonalign
			a(href='/hotels/cancelbooking').btn.btn-danger.navbar-btn(type='button') Cancel Booking
		.navbar-left.mybooking-btn
			a(href='https://travelnow.com/selfService/searchform?cid=55505&lang=en').btn.btn-info(type='button') My Booking
	.row
		.col-md-8.col-md-offset-2.searchForm  
			form(action='/hotels/search' method='post')
				.form-group   
					label Where
					input#searchTextField(type='text' name='location' class='form-control' placeholder='Enter destination' data-validation='custom' data-validation-regexp='^([a-zA-Z" ",-]+)$' data-validation-error-msg='You entered invalid place' autocomplete='on')
				.row
					.col-md-6
						.form-group
							
							label Check-in
							input(type='text' name='checkindate' id='input_checkindate' class='form-control' data-value="dd/mm/yyyy" )
					.col-md-6
						.form-group
							label Check-out
							input(type='text' name='checkoutdate' id='input_checkoutdate' class='form-control' data-value="dd/mm/yyyy" )
				.row
					.col-md-2
						.form-group
							label Rooms
							select(name='numberofrooms' class='dropdown' class='form-control' id='selectrooms')
								option(value='1') 1
									option(value='2' id='room2') 2
									option(value='3' id='room3') 3
									option(value='4' id='room4') 4
									option(value='5' id='room5') 5
									option(value='6' id='room6') 6
					.col-md-1.col-md-offset-1
						.roomnumberalign
							|Room1
					.col-md-2
						.form-group
							label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadults' class='form-control')
								option(value='1') 1
									option(value='2') 2
									option(value='3') 3
			
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchild' class='form-control' id='selectchildroom1')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
								
					.col-md-1#childage1room1
						.form-group
							label Age
							select(name='ageofchild1room1')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17

					.col-md-1#childage2room1
						.form-group
							label Age
							select(name='ageofchild2room1')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17


					.col-md-1#childage3room1
						.form-group
							label Age
							select(name='ageofchild3room1')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17



				.row#roomtwo
					.col-md-1.col-md-offset-3
						.roomnumberalign
							|Room2
					.col-md-2
						label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadultsroom2' class='form-control' id='numberofadultsroom2')
								option(value='') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchildroom2' class='form-control' id='selectchildroom2')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-1#childage1room2
						.form-group
							label Age
							select(name='ageofchild1room2')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage2room2
						.form-group
							label Age
							select(name='ageofchild2room2')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage3room2
						.form-group
							label Age
							select(name='ageofchild3room2')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
				.row#roomthree
					.col-md-1.col-md-offset-3
						.roomnumberalign
							|Room3
					.col-md-2
						label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadultsroom3' class='form-control' id='numberofadultsroom3')
								option(value='') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchildroom3' class='form-control' id='selectchildroom3')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-1#childage1room3
						.form-group
							label Age
							select(name='ageofchild1room3')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage2room3
						.form-group
							label Age
							select(name='ageofchild2room3')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage3room3
						.form-group
							label Age
							select(name='ageofchild3room3')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
				.row#roomfour
					.col-md-1.col-md-offset-3
						.roomnumberalign
							|Room4
					.col-md-2
						label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadultsroom4' class='form-control' id='numberofadultsroom4')
								option(value='') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchildroom4' class='form-control' id='selectchildroom4')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-1#childage1room4
						.form-group
							label Age
							select(name='ageofchild1room4')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage2room4
						.form-group
							label Age
							select(name='ageofchild2room4')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage3room4
						.form-group
							label Age
							select(name='ageofchild3room4')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
				.row#roomfive
					.col-md-1.col-md-offset-3
						.roomnumberalign
							|Room5
					.col-md-2
						label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadultsroom5' class='form-control' id='numberofadultsroom5')
								option(value='') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchildroom5' class='form-control' id='selectchildroom5')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-1#childage1room5
						.form-group
							label Age
							select(name='ageofchild1room5')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage2room5
						.form-group
							label Age
							select(name='ageofchild2room5')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage3room5
						.form-group
							label Age
							select(name='ageofchild3room5')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
				.row#roomsix
					.col-md-1.col-md-offset-3
						.roomnumberalign
							|Room6
					.col-md-2
						label Adults &nbsp;
								span 18+ yrs
							select(name='numberofadultsroom6' class='form-control' id='numberofadultsroom6')
								option(value='') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-2
						.form-group
							label Child &nbsp;
								span 0-17 yrs
							select(name='numberofchildroom6' class='form-control' id='selectchildroom6')
								option(value='0') 0
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
					.col-md-1#childage1room6
						.form-group
							label Age
							select(name='ageofchild1room6')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage2room6
						.form-group
							label Age
							select(name='ageofchild2room6')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17
					.col-md-1#childage3room6
						.form-group
							label Age
							select(name='ageofchild3room6')
								option(value='') -?-
									option(value='1') <1
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4') 4
									option(value='5') 5
									option(value='6') 6
									option(value='7') 7
									option(value='8') 8
									option(value='9') 9
									option(value='10') 10
									option(value='11') 11
									option(value='12') 12
									option(value='13') 13
									option(value='14') 14
									option(value='15') 15
									option(value='16') 16
									option(value='17') 17

				

				input(type='submit' value='Search hotels' class='btn btn-danger btn-search-hotel')

	br
	.row
		.col-md-8.col-md-offset-2
			//if hotels
				pre=JSON.stringify(hotels)
			//else
				pre Nothing Found
			if hotels
				each item,i in hotels.HotelListResponse.HotelList.HotelSummary
					a(href='hotelinfo/#{item.hotelId}')
						div.hotellistview
							.row
								.col-md-3
									//To use good quality Images 
									-var thumbnail=item.thumbNailUrl.split('_t.jpg')
									-var goodqualitythumbnail=thumbnail[0]
									if item.thumbNailUrl
										img.hotelimage(src='http://media2.expedia.com'+goodqualitythumbnail+'_l.jpg')
									else
										img.hotelimage(src='/images/no-image.png' alt='No Image')
								.col-md-6
									
									-var hotelname=JSON.stringify(item.name)
									.hotelname
										=hotelname.replace(/\"/g,"")
									.locationDescription
										=item.locationDescription
									-var l=star[i]
									.starcolor
										&nbsp;
										-for(var j=0;j<l;j++)
											&#9733;
									br
									-var split=item.shortDescription.split('/&gt;')
									-var shortDescription=split[1]
									.shortdescription
										=shortDescription
									br
									.locationDescription
										P Trip Advisior Rating
											&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											img(src=item.tripAdvisorRatingUrl)
								.col-md-3.rate
									-var lowestrate=JSON.stringify(item.lowRate).split('.')
									-var roundlowrate=lowestrate[0]
									&#8377;
									=roundlowrate.replace(/\"/g,"")
									&nbsp;
									span.small per night

				span.photodisclaimer #{disclaimer}							
							
							
					
			else 
				pre Nothing Found



			
